html, body
{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

#maindiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#tictactoe {
    display: block;

}

.reloadButton {
    padding: 20px;
    margin-top: 25px;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    border: none;
    border-radius: 50%;
}

.reloadButton:hover {
    background-image: linear-gradient(to top, #b647f6 0%, #f344b9 100%);
}

#userinput {
    display: none;
}

h1 {
    font-size: 45px;
    text-align: center;
}

#tplayer1 {
    font-size: 20px;
}


#tplayer2 {
    float: right;
    font-size: 20px;
}

#tablero {
    background: linear-gradient(to right, #fc00ff, #00dbde);
    height: 477px;
    width: 477px;
    border-radius: 2%;
}

.botones {
    background-color: white;
    height: 150px;
    width: 150px;
    cursor: pointer;
    border: none;
    margin: 2px;
    border-radius: 20%;
    font-size: 150px;
}

.botones:disabled,
.botones:disabled:hover {
    background: white;
    color: rgb(76, 2, 136);

}

.botones:hover {
    background: linear-gradient(to top, #e7e5e5, #f3d5f8);

}